@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Challenge Assignment</h2>
    <p>The current server time is @ViewData["TimeStamp"].</p>
</div>
